body {
  margin: 0; 
  font-family: "Impact", "Coda" ;

  color: black;
  background-color: white;
  
}
video { 
  width: 100%;   
  height: auto;
  background: url('../images/DID.jpg') no-repeat;
  
  transition: 1s opacity;
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.responsive-object {
  position: relative;
  padding-bottom: 67.5%;
  height: 0;
  margin: 10px 0;
  overflow: hidden;
}
.responsive-object iframe,
  .responsive-object object,
  .responsive-object embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
button {
  display:block;
  width: 8em;
  height: 3em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
  background: #ED4240;
  font-family: "Impact", "Coda";
  letter-spacing: .1em;
  color: white;
  text-transform: uppercase;
  font-size: 1em;  
  text-decoration: none;
  border:0;
  cursor: pointer;
  transition: .6s background;
}
button:hover {
  background: #000;
  text-decoration: none;  
  transition: .6s background;
}
nav
{
  padding-top: 20px;
  padding-bottom: 10px;
  letter-spacing: .1em;
  margin-left: 50%;
}
nav a:link,
nav a:visited,
nav a:hover,
nav a:active
{
    text-decoration: none;
    background-color: white;
    color: black;
    display: block;
    padding: 0.8em 0px;
    font-size:1em;
    text-align: center;
      
    
    margin-top: 2px;
    margin-bottom: 10px;
    border: 1px solid black;
   transition: .6s background; 
}
nav a:hover{
  background:black;
  color:white;
  border: 1px solid black;
}

#banner
{
  font-family: "Josefin Sans";
  font-weight: 400;
  background-color: black;
  color: white;
  font-size: 2em;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
#banner span
{
  font-weight: 700;
}
section
{
  margin:2%;
}

article img
{
    position: left;
}
article
{
 
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.3em;
  padding:2%;
  margin-bottom: 10px;
  border:1px solid black;
  
}
article h1
{
  text-align: left;
  /*color:#6585B6;*/
  color:black;
  font-size: 2.5em;
  padding-bottom: 10px;
  float: left;
}
article p
{
  
  text-align: left;
  
  padding-left: 10%;
  padding-right: 10%;


}
article p:first-letter
{
      font-size: 3em;
      font-weight: bold;
      
}
article span
{
  color: #6585B6;
}
footer
{
  text-align: center;
  padding-top: 30px;

}
footer a
{
font-size: 0;

}
.clearfix
{
  clear:both;
}
/*@media screen and (min-width: 640px) { 

button
{
  visibility: hidden;
}
video
{
  display:inline;
  float:left;
  width: 70%;
  max-width: 580px;
}
button
{
  width:10em;
  display:inline;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;  
}
#inner
{
  float: right;
  width: 30%;

}
nav
{
 float:left;
  display:inline;
}
nav a:link,
nav a:visited,
nav a:hover,
nav a:active
{
    width: 80%;
    display:inline;
    float:left;

}
@media screen and (min-width: 750px) {
iframe
{
  height:auto;
}
section
{
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-left: auto;
  margin-right: auto;
}
article
{
  width:40%;
  margin-right: 1% ;
  margin-left: 1%;
  float:left;

}  
button
{
  visibility: hidden;
}

}
@media screen and (min-width: 960px) {
  
#wrapper
{
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
}