body {
  margin: 0; 
 font-family: "Josefin Sans";
  font-weight: 400;

  color: black;
  background-color: white;
  
}
#call
{
  text-align: center;
}
video { 
  width: 100%;   
  height: auto;
  background: url('../images/DID.jpg') no-repeat;
  
  transition: 1s opacity;
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.responsive-object {
  position: relative;
  padding-bottom: 67.5%;
  height: 0;
  margin: 10px 0;
  overflow: hidden;
}
.responsive-object iframe,
  .responsive-object object,
  .responsive-object embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
button {
  display:block;
  width: 8em;
  height: 3em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
  background: #ED4240;
  font-family: "Impact", "Coda";
  letter-spacing: .1em;
  color: white;
  text-transform: uppercase;
  font-size: 1em;  
  text-decoration: none;
  border:0;
  cursor: pointer;
  transition: .6s background;
}
button:hover {
  background: #000;
  text-decoration: none;  
  transition: .6s background;
}
nav
{
  padding-top: 20px;
  padding-bottom: 10px;
  letter-spacing: .1em;
  margin-left: 40%;
}
nav a:link,
nav a:visited,
nav a:hover,
nav a:active
{
    text-decoration: none;
    background-color: black;
    color: white;
    display: block;
    padding: 0.8em 0px;
    font-size:1em;
    text-align: center;
      
    
    margin-top: 2px;
    margin-bottom: 10px;
    border: 1px solid black;
   transition: .6s background; 
}
nav a:hover{
  background:white;
  color:black;
  border: 1px solid black;
}

#banner
{
  font-family: "Josefin Sans";
  font-weight: 400;
  background-color: black;
  color: white;
  font-size: 2em;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 0px;
  padding-bottom: 10px;
  text-align: center;
}
#banner:hover{
  background:white;
  color:black;
  border: 1px solid black;
}
#banner span
{
  font-weight: 700;
}
section
{
  margin:2%;
}

article img
{
    position: left;
}
article
{
 
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.3em;
  padding:2%;
  margin-bottom: 10px;
  border:1px solid black;
  
}
article h1
{
  text-align: left;
  /*color:#6585B6;*/
  color:black;
  font-size: 2.5em;
  padding-bottom: 10px;
  float: left;
}
article p
{
  
  text-align: left;
  
  padding-left: 10%;
  padding-right: 10%;


}
article p:first-letter
{
      font-size: 3em;
      font-weight: bold;
      
}
article span
{
  color: #6585B6;
}
footer
{
  text-align: center;
  padding-top: 30px;

}
footer a
{
font-size: 0;

}
.clearfix
{
  clear:both;
}
 .form-label-left{
        width:150px !important;
    }
    .form-line{
        padding-top:12px;
        padding-bottom:12px;
    }
    .form-label-right{
        width:150px !important;
    }
    .form-all{
        width:590px;
        color:Black !important;
        font-family:'Josefin Sans';
        font-size:14px;
    }
    .form-radio-item label, .form-checkbox-item label, .form-grading-label, .form-header{
        color: Black;
    }

</style>

<style type="text/css" id="form-designer-style">
    /* Injected CSS Code */

.form-all {
  font-family: "Josefin Sans", sans-serif;
}
.form-all {
  width: 590px;
  width: 100%;
  max-width: 590px;
}
.form-label-left,
.form-label-right {
  width: 150px;
}
.form-label {
  white-space: normal;
}
.form-label.form-label-auto {
  display: inline-block;
  float: left;
  text-align: left;
  width: 150px;
}
.form-label-left {
  display: inline-block;
  white-space: normal;
  float: left;
  text-align: left;
}
.form-label-right {
  display: inline-block;
  white-space: normal;
  float: left;
  text-align: right;
}
.form-label-top {
  white-space: normal;
  display: block;
  float: none;
  text-align: left;
}
.form-all {
  font-size: 1em;
}
.form-label {
  font-weight: bold;
}
.form-checkbox-item label,
.form-radio-item label {
  font-weight: normal;
}
.supernova {
  background-color: none;
}
.supernova body {
  background-color: transparent;
}
/*
@width30: (unit(@formWidth, px) + 60px);
@width60: (unit(@formWidth, px)+ 120px);
@width90: (unit(@formWidth, px)+ 180px);
*/
/* | */
@media screen and (min-width: 480px) {
  .supernova {
    background-color: #ffffff;
  }
}
/* | */
/* | */
@media screen and (max-width: 480px) {
  .jotform-form {
    padding: 10px 0;
  }
}
/* | */
/* | */
@media screen and (min-width: 480px) and (max-width: 768px) {
  .jotform-form {
    padding: 30px 0;
  }
}
/* | */
/* | */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .jotform-form {
    padding: 60px 0;
  }
}
/* | */
/* | */
@media screen and (min-width: 1024px) {
  .jotform-form {
    padding: 90px 0;
  }
}
/* | */
.form-all {
  background-color: none;
  border: 1px solid transparent;
}
.form-all {
  color: #000000;
}
.form-header-group .form-header {
  color: #000000;
}
.form-header-group .form-subHeader {
  color: #1a1a1a;
}
.form-sub-label {
  color: #1a1a1a;
}
.form-label-top,
.form-label-left,
.form-label-right {
  color: #000000;
}
.form-checkbox-item label,
.form-radio-item label {
  color: #1a1a1a;
}
.form-line.form-line-active {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -ms-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  background-color: #ffffe0;
}
/* ömer */
.form-radio-item,
.form-checkbox-item {
  padding-bottom: 0px !important;
}
.form-radio-item:last-child,
.form-checkbox-item:last-child {
  padding-bottom: 0;
}
/* ömer */
/*.ctrl-custom-size(@bgSize, @tickSize, @tickOffsetTop, @tickOffsetLeft, @radius) {

  input {
    display: none;
  }
  
  label {
    position: relative;
    margin-left: 0;
  }

  label:before {
    content: '';
    position: relative;
    display: inline-block;
    vertical-align: baseline;
    margin-right: 4px;
    .border-box();
    .rounded(@radius);

    width: @bgSize;
    height: @bgSize;
  }

  label:after {
    content: '';
    position: absolute;
    z-index: 10;  
    display: inline-block;
    opacity: 0;

    top:@tickOffsetTop;
    left:@tickOffsetLeft;
    width: @tickSize;
    height: @tickSize;
    .rounded(@radius);
  }

  input:checked + label:after {
    opacity: 1;
  }

}*/
.form-single-column .form-checkbox-item,
.form-single-column .form-radio-item {
  width: 100%;
}
.supernova {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  background-repeat: repeat;
}
/* | */
@media screen and (min-width: 480px) {
  .supernova {
    background-image: url("//static-interlogyllc.netdna-ssl.com/themes/img/blank.gif");
  }
}
#stage {
  background-image: url("//static-interlogyllc.netdna-ssl.com/themes/img/blank.gif");
}
/* | */
.form-all {
  background-image: url("//static-interlogyllc.netdna-ssl.com/themes/img/blank.gif");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
  background-repeat: repeat;
}
.form-header-group {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
}
.form-line {
  margin-top: 12px;
  margin-bottom: 12px;
}
.form-line {
  padding: 12px 36px;
}
.form-all .qq-upload-button,
.form-all .form-submit-button,
.form-all .form-submit-reset,
.form-all .form-submit-print {
  font-size: 1em;
  padding: 9px 15px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1em;
  font-weight: normal;
}
.form-all .form-pagebreak-back,
.form-all .form-pagebreak-next {
  font-size: 1em;
  padding: 9px 15px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1em;
  font-weight: normal;
}
/*
  TODO: Significant improvement possibility:

  following import statement is not required in design mode,
  but it should be inside the exported css of current design, in the form itself
  when it is shown to people. Being of this here, causing re-drawn problems.
  we should find a way to only include this in css send while saving current design

  see prepareModel4Save for implementation for @buttonFontType
*/
/*
&amp; when ( @buttonFontType = google ) {
  @import (css) "@{buttonFontLink}";
}
*/
h2.form-header {
  line-height: 1.618em;
  font-size: 1.714em;
}
h2 ~ .form-subHeader {
  line-height: 1.5em;
  font-size: 1.071em;
}
.form-header-group {
  text-align: left;
}
.form-header-group {
  background-image: url("//static-interlogyllc.netdna-ssl.com/themes/img/blank.gif");
}
/*.form-dropdown,
.form-radio-item,
.form-checkbox-item,
.form-radio-other-input,
.form-checkbox-other-input,*/
.form-captcha input,
.form-spinner input,
.form-error-message {
  padding: 4px 3px 2px 3px;
}
.form-header-group {
  font-family: "Josefin Sans", sans-serif;
}
.form-section {
  padding: 0px 0px 0px 0px;
}
.form-header-group {
  margin: 12px 36px 12px 36px;
}
.form-header-group {
  padding: 24px 0px 24px 0px;
}
.form-textbox,
.form-textarea {
  padding: 4px 3px 2px 3px;
}
/*@textInputStyle: "ti-default";
@textInputBorderWidth: -1;
@textInputBorderStyle: -1;
@clrTextInputBorder: -1;
@clrTextInputBg: -1;
@clrTextInputFont: -1;
@textInputHeight: -1;
@textAreaHeight: -1;

&amp; when ( @formControlStyle = ti-default ) {

}*/
[data-type="control_dropdown"] .form-input,
[data-type="control_dropdown"] .form-input-wide {
  width: 150px;
}
.form-label {
  font-family: "Josefin Sans", sans-serif;
}
li[data-type="control_image"] div {
  text-align: left;
}
li[data-type="control_image"] img {
  border: none;
  border-width: 0px !important;
  border-style: solid !important;
  border-color: false !important;
}
.form-line-column {
  width: auto;
}
.form-line-error {
  overflow: hidden;
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -ms-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  background-color: #fff4f4;
}
.form-line-error .form-error-message {
  background-color: #ff3200;
  clear: both;
  float: none;
}
.form-line-error .form-error-message .form-error-arrow {
  border-bottom-color: #ff3200;
}
.form-line-error input:not(#coupon-input),
.form-line-error textarea,
.form-line-error .form-validation-error {
  border: 1px solid #ff3200;
  -webkit-box-shadow: 0 0 3px #ff3200;
  -moz-box-shadow: 0 0 3px #ff3200;
  box-shadow: 0 0 3px #ff3200;
}
.ie-8 .form-all {
  margin-top: auto;
  margin-top: initial;
}
.ie-8 .form-all:before {
  display: none;
}
/* | */
@media screen and (max-width: 768px) {
  .form-all {
    border: 0;
    width: 100%;
  }
  .form-sub-label-container {
    width: 100%;
    margin: 0;
  }
  .form-input {
    width: 100%;
  }
  .form-label {
    width: 100%!important;
  }
  .form-line {
    padding: 2% 5%;
    margin: 0;
  }
  input[type=text],
  input[type=email],
  input[type=tel],
  textarea {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .form-header-group {
    padding: 3% 0!important;
    margin: 5%!important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .form-buttons-wrapper {
    margin: 0!important;
  }
  .form-buttons-wrapper button {
    width: 100%;
  }
  table {
    width: 100%!important;
  }
  table td + td {
    padding-left: 3%;
  }
  .form-checkbox-item input,
  .form-radio-item input {
    width: auto;
  }
}
/* | */

/*__INSPECT_SEPERATOR__*/

    /* Injected CSS Code */
/*@media screen and (min-width: 640px) { 

button
{
  visibility: hidden;
}
video
{
  display:inline;
  float:left;
  width: 70%;
  max-width: 580px;
}
button
{
  width:10em;
  display:inline;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;  
}
#inner
{
  float: right;
  width: 30%;

}
nav
{
 float:left;
  display:inline;
}
nav a:link,
nav a:visited,
nav a:hover,
nav a:active
{
    width: 80%;
    display:inline;
    float:left;

}
@media screen and (min-width: 750px) {
iframe
{
  height:auto;
}
section
{
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-left: auto;
  margin-right: auto;
}
article
{
  width:40%;
  margin-right: 1% ;
  margin-left: 1%;
  float:left;

}  
button
{
  visibility: hidden;
}

}
@media screen and (min-width: 960px) {
  
#wrapper
{
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
}